.currency-details-component .page-header {
    text-align: center;
    font-size:32px;
    margin-bottom: 16px;
}

.currency-details-component table {
    margin:auto;
}
.currency-details-component table td {
    padding-left: 16px;
    text-align: right;
}

.currency-details-component .icon-wrapper {
    margin-right: 8px;
    position: relative;
    vertical-align: middle;
}