.currencyName > div:first-child {
    display: inline-block;
    margin-right: 8px;
    width:16px;
    height: 16px;
    vertical-align: middle;
}
.table {
    margin:0;
}
.table td, 
.table thead th {
    vertical-align: middle;
}
.table th {
    border-top:none;
}
.table-hover tbody tr:hover {
    cursor: pointer;
}
table>tbody>tr:first-child >td.currencyName {
    border:0;
}
.footer a {
    width:100%;
    display: inline-block;
    text-align: center;
    padding-bottom: 16px;
}
@media (max-width: 575px) {
    .table td, 
    .table thead th {
        padding:8px;
    }
    .table thead th + th,
    .table td+td {
        padding-left:0;
    }
    table td.text-right {
        font-size:12px;
    }
}