/* glue: 0.13 hash: 979a4a98e8 */
.s-s-zcoin,
.s-s-zclassic,
.s-s-zcash,
.s-s-wax,
.s-s-waves,
.s-s-walton,
.s-s-veritaseum,
.s-s-verge,
.s-s-vechain,
.s-s-tron,
.s-s-tether,
.s-s-tenx,
.s-s-syscoin,
.s-s-stratis,
.s-s-steem,
.s-s-status,
.s-s-smartcash,
.s-s-sirin-labs-token,
.s-s-siacoin,
.s-s-salt,
.s-s-ripple,
.s-s-revain,
.s-s-request-network,
.s-s-reddcoin,
.s-s-rchain,
.s-s-raiblocks,
.s-s-qtum,
.s-s-qash,
.s-s-power-ledger,
.s-s-populous,
.s-s-pivx,
.s-s-pillar,
.s-s-particl,
.s-s-omisego,
.s-s-nxt,
.s-s-nexus,
.s-s-neo,
.s-s-nem,
.s-s-nebulas-token,
.s-s-neblio,
.s-s-monero,
.s-s-monacoin,
.s-s-medibloc,
.s-s-maker,
.s-s-maidsafecoin,
.s-s-loopring,
.s-s-litecoin,
.s-s-lisk,
.s-s-kyber-network,
.s-s-komodo,
.s-s-kin,
.s-s-iota,
.s-s-iostoken,
.s-s-ignis,
.s-s-iconomi,
.s-s-icon,
.s-s-hshare,
.s-s-gxshares,
.s-s-golem-network-tokens,
.s-s-gnosis-gno,
.s-s-gas,
.s-s-gamecredits,
.s-s-funfair,
.s-s-factom,
.s-s-ethos,
.s-s-ethereum,
.s-s-ethereum-classic,
.s-s-eos,
.s-s-enigma-project,
.s-s-electroneum,
.s-s-dragonchain,
.s-s-dogecoin,
.s-s-digixdao,
.s-s-digibyte,
.s-s-dentacoin,
.s-s-dent,
.s-s-decred,
.s-s-dash,
.s-s-cryptonex,
.s-s-cindicator,
.s-s-cardano,
.s-s-bytom,
.s-s-bytecoin-bcn,
.s-s-byteball,
.s-s-bitshares,
.s-s-bitcore,
.s-s-bitcoin,
.s-s-bitcoin-gold,
.s-s-bitcoin-cash,
.s-s-binance-coin,
.s-s-basic-attention-token,
.s-s-augur,
.s-s-ark,
.s-s-ardor,
.s-s-aion,
.s-s-aeternity,
.s-s-aelf,
.s-s-0x,
.s-s-stellar,
.s-s-kucoin-shares {
    background-image: url('./img/all_views_market-cap-by-circulating-supply_0.png');
            background-repeat: no-repeat;
        }
        
        .s-s-zcoin {
            background-position: 0 0;
            width: 16px;
            height: 14px;
        }
        
        .s-s-zclassic {
            background-position: 0 -14px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-zcash {
            background-position: -16px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-wax {
            background-position: -32px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-waves {
            background-position: 0 -30px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-walton {
            background-position: -16px -30px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-veritaseum {
            background-position: -32px -30px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-verge {
            background-position: -48px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-vechain {
            background-position: -48px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-tron {
            background-position: 0 -46px;
            width: 14px;
            height: 16px;
        }
        
        .s-s-tether {
            background-position: -14px -46px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-tenx {
            background-position: -30px -46px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-syscoin {
            background-position: -48px -32px;
            width: 16px;
            height: 14px;
        }
        
        .s-s-stratis {
            background-position: -46px -46px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-steem {
            background-position: -64px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-status {
            background-position: -64px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-smartcash {
            background-position: -64px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-sirin-labs-token {
            background-position: 0 -62px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-siacoin {
            background-position: -16px -62px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-salt {
            background-position: -32px -62px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ripple {
            background-position: -48px -62px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-revain {
            background-position: -64px -62px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-request-network {
            background-position: -80px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-reddcoin {
            background-position: -80px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-rchain {
            background-position: -80px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-raiblocks {
            background-position: -80px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-qtum {
            background-position: 0 -78px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-qash {
            background-position: -16px -78px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-power-ledger {
            background-position: -32px -78px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-populous {
            background-position: -48px -78px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-pivx {
            background-position: -64px -78px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-pillar {
            background-position: -80px -78px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-particl {
            background-position: -96px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-omisego {
            background-position: -96px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-nxt {
            background-position: -96px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-nexus {
            background-position: -96px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-neo {
            background-position: -96px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-nem {
            background-position: 0 -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-nebulas-token {
            background-position: -16px -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-neblio {
            background-position: -32px -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-monero {
            background-position: -48px -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-monacoin {
            background-position: -64px -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-medibloc {
            background-position: -80px -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-maker {
            background-position: -96px -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-maidsafecoin {
            background-position: -112px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-loopring {
            background-position: -112px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-litecoin {
            background-position: -112px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-lisk {
            background-position: -112px -48px;
            width: 14px;
            height: 16px;
        }
        
        .s-s-kyber-network {
            background-position: -112px -64px;
            width: 14px;
            height: 16px;
        }
        
        .s-s-komodo {
            background-position: -112px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-kin {
            background-position: 0 -110px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-iota {
            background-position: -16px -110px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-iostoken {
            background-position: -32px -110px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ignis {
            background-position: -48px -110px;
            width: 14px;
            height: 16px;
        }
        
        .s-s-iconomi {
            background-position: -62px -110px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-icon {
            background-position: -78px -110px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-hshare {
            background-position: -112px -96px;
            width: 16px;
            height: 14px;
        }
        
        .s-s-gxshares {
            background-position: -94px -110px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-golem-network-tokens {
            background-position: -110px -110px;
            width: 12px;
            height: 16px;
        }
        
        .s-s-gnosis-gno {
            background-position: -96px -80px;
            width: 16px;
            height: 12px;
        }
        
        .s-s-gas {
            background-position: -128px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-gamecredits {
            background-position: -128px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-funfair {
            background-position: -128px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-factom {
            background-position: -128px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ethos {
            background-position: -128px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ethereum {
            background-position: -128px -80px;
            width: 14px;
            height: 16px;
        }
        
        .s-s-ethereum-classic {
            background-position: -128px -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-eos {
            background-position: 0 -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-enigma-project {
            background-position: -16px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-electroneum {
            background-position: -32px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-dragonchain {
            background-position: -48px -126px;
            width: 14px;
            height: 16px;
        }
        
        .s-s-dogecoin {
            background-position: -62px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-digixdao {
            background-position: -78px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-digibyte {
            background-position: -94px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-dentacoin {
            background-position: -110px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-dent {
            background-position: -126px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-decred {
            background-position: -144px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-dash {
            background-position: -144px -16px;
            width: 16px;
            height: 14px;
        }
        
        .s-s-cryptonex {
            background-position: -144px -30px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-cindicator {
            background-position: -144px -46px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-cardano {
            background-position: -144px -62px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bytom {
            background-position: -144px -78px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bytecoin-bcn {
            background-position: -144px -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-byteball {
            background-position: -144px -110px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bitshares {
            background-position: -144px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bitcore {
            background-position: 0 -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bitcoin {
            background-position: -16px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bitcoin-gold {
            background-position: -32px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bitcoin-cash {
            background-position: -48px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-binance-coin {
            background-position: -64px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-basic-attention-token {
            background-position: -80px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-augur {
            background-position: -96px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ark {
            background-position: -112px -142px;
            width: 16px;
            height: 15px;
        }
        
        .s-s-ardor {
            background-position: -160px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-aion {
            background-position: -160px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-aeternity {
            background-position: -160px -32px;
            width: 16px;
            height: 12px;
        }
        
        .s-s-aelf {
            background-position: -160px -44px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-0x {
            background-position: -160px -60px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-stellar {
            background-position: -160px -76px;
            width: 15px;
            height: 15px;
        }
        
        .s-s-kucoin-shares {
            background-position: -160px -91px;
            width: 14px;
            height: 15px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .s-s-zcoin,
    .s-s-zclassic,
    .s-s-zcash,
    .s-s-wax,
    .s-s-waves,
    .s-s-walton,
    .s-s-veritaseum,
    .s-s-verge,
    .s-s-vechain,
    .s-s-tron,
    .s-s-tether,
    .s-s-tenx,
    .s-s-syscoin,
    .s-s-stratis,
    .s-s-steem,
    .s-s-status,
    .s-s-smartcash,
    .s-s-sirin-labs-token,
    .s-s-siacoin,
    .s-s-salt,
    .s-s-ripple,
    .s-s-revain,
    .s-s-request-network,
    .s-s-reddcoin,
    .s-s-rchain,
    .s-s-raiblocks,
    .s-s-qtum,
    .s-s-qash,
    .s-s-power-ledger,
    .s-s-populous,
    .s-s-pivx,
    .s-s-pillar,
    .s-s-particl,
    .s-s-omisego,
    .s-s-nxt,
    .s-s-nexus,
    .s-s-neo,
    .s-s-nem,
    .s-s-nebulas-token,
    .s-s-neblio,
    .s-s-monero,
    .s-s-monacoin,
    .s-s-medibloc,
    .s-s-maker,
    .s-s-maidsafecoin,
    .s-s-loopring,
    .s-s-litecoin,
    .s-s-lisk,
    .s-s-kyber-network,
    .s-s-komodo,
    .s-s-kin,
    .s-s-iota,
    .s-s-iostoken,
    .s-s-ignis,
    .s-s-iconomi,
    .s-s-icon,
    .s-s-hshare,
    .s-s-gxshares,
    .s-s-golem-network-tokens,
    .s-s-gnosis-gno,
    .s-s-gas,
    .s-s-gamecredits,
    .s-s-funfair,
    .s-s-factom,
    .s-s-ethos,
    .s-s-ethereum,
    .s-s-ethereum-classic,
    .s-s-eos,
    .s-s-enigma-project,
    .s-s-electroneum,
    .s-s-dragonchain,
    .s-s-dogecoin,
    .s-s-digixdao,
    .s-s-digibyte,
    .s-s-dentacoin,
    .s-s-dent,
    .s-s-decred,
    .s-s-dash,
    .s-s-cryptonex,
    .s-s-cindicator,
    .s-s-cardano,
    .s-s-bytom,
    .s-s-bytecoin-bcn,
    .s-s-byteball,
    .s-s-bitshares,
    .s-s-bitcore,
    .s-s-bitcoin,
    .s-s-bitcoin-gold,
    .s-s-bitcoin-cash,
    .s-s-binance-coin,
    .s-s-basic-attention-token,
    .s-s-augur,
    .s-s-ark,
    .s-s-ardor,
    .s-s-aion,
    .s-s-aeternity,
    .s-s-aelf,
    .s-s-0x,
    .s-s-stellar,
    .s-s-kucoin-shares {
    background-image: url('./img/all_views_market-cap-by-circulating-supply_0.png');
        -webkit-background-size: 176px 158px;
        -moz-background-size: 176px 158px;
        background-size: 176px 158px;
    }
}

/* glue: 0.13 hash: cf6ac7645a */
.s-s-zencash,
.s-s-xtrabytes,
.s-s-xplay,
.s-s-wabi,
.s-s-vibe,
.s-s-viacoin,
.s-s-vertcoin,
.s-s-utrust,
.s-s-unikoin-gold,
.s-s-ubiq,
.s-s-trinity-network-credit,
.s-s-time-new-bank,
.s-s-tierion,
.s-s-theta-token,
.s-s-telcoin,
.s-s-supernet-unity,
.s-s-substratum,
.s-s-streamr-datacoin,
.s-s-storm,
.s-s-storj,
.s-s-spankchain,
.s-s-sophiatx,
.s-s-sonm,
.s-s-skycoin,
.s-s-singulardtv,
.s-s-simple-token,
.s-s-santiment,
.s-s-rlc,
.s-s-rise,
.s-s-ripio-credit-network,
.s-s-red-pulse,
.s-s-raiden-network-token,
.s-s-quantum-resistant-ledger,
.s-s-quantstamp,
.s-s-poet,
.s-s-peercoin,
.s-s-paypie,
.s-s-paccoin,
.s-s-nuls,
.s-s-nav-coin,
.s-s-monaco,
.s-s-modum,
.s-s-metaverse,
.s-s-metal,
.s-s-melon,
.s-s-medishares,
.s-s-lykke,
.s-s-lunyr,
.s-s-library-credit,
.s-s-iot-chain,
.s-s-ion,
.s-s-internet-node-token,
.s-s-ins-ecosystem,
.s-s-indahash,
.s-s-html-coin,
.s-s-high-performance-blockchain,
.s-s-gulden,
.s-s-experience-points,
.s-s-ethlend,
.s-s-etherparty,
.s-s-enjin-coin,
.s-s-emercoin,
.s-s-electra,
.s-s-einsteinium,
.s-s-eidoo,
.s-s-edgeless,
.s-s-dynamic-trading-rights,
.s-s-district0x,
.s-s-digitalnote,
.s-s-dew,
.s-s-deepbrain-chain,
.s-s-decentraland,
.s-s-cybermiles,
.s-s-counterparty,
.s-s-coindash,
.s-s-cobinhood,
.s-s-civic,
.s-s-chainlink,
.s-s-centra,
.s-s-cappasity,
.s-s-burst,
.s-s-bridgecoin,
.s-s-bread,
.s-s-blockv,
.s-s-blocknet,
.s-s-bitcoindark,
.s-s-bitbay,
.s-s-bibox-token,
.s-s-bancor,
.s-s-attention-token-of-media,
.s-s-asch,
.s-s-aragon,
.s-s-appcoins,
.s-s-amber,
.s-s-airswap,
.s-s-agoras-tokens,
.s-s-adx-net,
.s-s-adtoken,
.s-s-achain,
.s-s-wings {
            background-image: url('./img/all_views_market-cap-by-circulating-supply_1.png');
            background-repeat: no-repeat;
        }
        
        .s-s-zencash {
            background-position: 0 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-xtrabytes {
            background-position: -16px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-xplay {
            background-position: 0 -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-wabi {
            background-position: -16px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-vibe {
            background-position: -32px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-viacoin {
            background-position: -32px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-vertcoin {
            background-position: 0 -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-utrust {
            background-position: -16px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-unikoin-gold {
            background-position: -32px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ubiq {
            background-position: -48px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-trinity-network-credit {
            background-position: -48px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-time-new-bank {
            background-position: -48px -32px;
            width: 16px;
            height: 6px;
        }
        
        .s-s-tierion {
            background-position: 0 -48px;
            width: 16px;
            height: 14px;
        }
        
        .s-s-theta-token {
            background-position: -64px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-telcoin {
            background-position: -64px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-supernet-unity {
            background-position: -64px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-substratum {
            background-position: 0 -62px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-streamr-datacoin {
            background-position: -16px -62px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-storm {
            background-position: -32px -62px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-storj {
            background-position: -48px -62px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-spankchain {
            background-position: -64px -62px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-sophiatx {
            background-position: -80px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-sonm {
            background-position: -80px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-skycoin {
            background-position: -80px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-singulardtv {
            background-position: -80px -48px;
            width: 16px;
            height: 14px;
        }
        
        .s-s-simple-token {
            background-position: -80px -62px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-santiment {
            background-position: 0 -78px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-rlc {
            background-position: -16px -78px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-rise {
            background-position: -32px -78px;
            width: 12px;
            height: 16px;
        }
        
        .s-s-ripio-credit-network {
            background-position: -44px -78px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-red-pulse {
            background-position: -60px -78px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-raiden-network-token {
            background-position: -76px -78px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-quantum-resistant-ledger {
            background-position: -96px 0;
            width: 16px;
            height: 15px;
        }
        
        .s-s-quantstamp {
            background-position: -96px -15px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-poet {
            background-position: -96px -31px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-peercoin {
            background-position: -96px -47px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-paypie {
            background-position: -96px -63px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-paccoin {
            background-position: 0 -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-nuls {
            background-position: -16px -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-nav-coin {
            background-position: -96px -79px;
            width: 16px;
            height: 14px;
        }
        
        .s-s-monaco {
            background-position: -32px -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-modum {
            background-position: -48px -94px;
            width: 14px;
            height: 16px;
        }
        
        .s-s-metaverse {
            background-position: -62px -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-metal {
            background-position: -78px -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-melon {
            background-position: -94px -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-medishares {
            background-position: -112px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-lykke {
            background-position: -112px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-lunyr {
            background-position: -112px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-library-credit {
            background-position: -112px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-iot-chain {
            background-position: -112px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ion {
            background-position: -112px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-internet-node-token {
            background-position: 0 -110px;
            width: 14px;
            height: 16px;
        }
        
        .s-s-ins-ecosystem {
            background-position: -14px -110px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-indahash {
            background-position: -30px -110px;
            width: 16px;
            height: 15px;
        }
        
        .s-s-html-coin {
            background-position: -128px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-high-performance-blockchain {
            background-position: -128px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-gulden {
            background-position: -128px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-experience-points {
            background-position: -128px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ethlend {
            background-position: -128px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-etherparty {
            background-position: -128px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-enjin-coin {
            background-position: -128px -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-emercoin {
            background-position: 0 -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-electra {
            background-position: -16px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-einsteinium {
            background-position: -32px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-eidoo {
            background-position: -48px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-edgeless {
            background-position: -64px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-dynamic-trading-rights {
            background-position: -80px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-district0x {
            background-position: -96px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-digitalnote {
            background-position: -112px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-dew {
            background-position: -128px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-deepbrain-chain {
            background-position: -144px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-decentraland {
            background-position: -144px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-cybermiles {
            background-position: -144px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-counterparty {
            background-position: -144px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-coindash {
            background-position: -144px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-cobinhood {
            background-position: -144px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-civic {
            background-position: -144px -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-chainlink {
            background-position: -144px -112px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-centra {
            background-position: 0 -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-cappasity {
            background-position: -16px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-burst {
            background-position: -32px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bridgecoin {
            background-position: -48px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bread {
            background-position: -64px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-blockv {
            background-position: -80px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-blocknet {
            background-position: -96px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bitcoindark {
            background-position: -112px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bitbay {
            background-position: -128px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bibox-token {
            background-position: -144px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bancor {
            background-position: -160px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-attention-token-of-media {
            background-position: -160px -16px;
            width: 14px;
            height: 16px;
        }
        
        .s-s-asch {
            background-position: -160px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-aragon {
            background-position: -160px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-appcoins {
            background-position: -160px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-amber {
            background-position: -160px -80px;
            width: 16px;
            height: 14px;
        }
        
        .s-s-airswap {
            background-position: -160px -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-agoras-tokens {
            background-position: -160px -110px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-adx-net {
            background-position: -160px -126px;
            width: 10px;
            height: 16px;
        }
        
        .s-s-adtoken {
            background-position: -160px -142px;
            width: 14px;
            height: 16px;
        }
        
        .s-s-achain {
            background-position: 0 -158px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-wings {
            background-position: -144px -128px;
            width: 14px;
            height: 14px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .s-s-zencash,
    .s-s-xtrabytes,
    .s-s-xplay,
    .s-s-wabi,
    .s-s-vibe,
    .s-s-viacoin,
    .s-s-vertcoin,
    .s-s-utrust,
    .s-s-unikoin-gold,
    .s-s-ubiq,
    .s-s-trinity-network-credit,
    .s-s-time-new-bank,
    .s-s-tierion,
    .s-s-theta-token,
    .s-s-telcoin,
    .s-s-supernet-unity,
    .s-s-substratum,
    .s-s-streamr-datacoin,
    .s-s-storm,
    .s-s-storj,
    .s-s-spankchain,
    .s-s-sophiatx,
    .s-s-sonm,
    .s-s-skycoin,
    .s-s-singulardtv,
    .s-s-simple-token,
    .s-s-santiment,
    .s-s-rlc,
    .s-s-rise,
    .s-s-ripio-credit-network,
    .s-s-red-pulse,
    .s-s-raiden-network-token,
    .s-s-quantum-resistant-ledger,
    .s-s-quantstamp,
    .s-s-poet,
    .s-s-peercoin,
    .s-s-paypie,
    .s-s-paccoin,
    .s-s-nuls,
    .s-s-nav-coin,
    .s-s-monaco,
    .s-s-modum,
    .s-s-metaverse,
    .s-s-metal,
    .s-s-melon,
    .s-s-medishares,
    .s-s-lykke,
    .s-s-lunyr,
    .s-s-library-credit,
    .s-s-iot-chain,
    .s-s-ion,
    .s-s-internet-node-token,
    .s-s-ins-ecosystem,
    .s-s-indahash,
    .s-s-html-coin,
    .s-s-high-performance-blockchain,
    .s-s-gulden,
    .s-s-experience-points,
    .s-s-ethlend,
    .s-s-etherparty,
    .s-s-enjin-coin,
    .s-s-emercoin,
    .s-s-electra,
    .s-s-einsteinium,
    .s-s-eidoo,
    .s-s-edgeless,
    .s-s-dynamic-trading-rights,
    .s-s-district0x,
    .s-s-digitalnote,
    .s-s-dew,
    .s-s-deepbrain-chain,
    .s-s-decentraland,
    .s-s-cybermiles,
    .s-s-counterparty,
    .s-s-coindash,
    .s-s-cobinhood,
    .s-s-civic,
    .s-s-chainlink,
    .s-s-centra,
    .s-s-cappasity,
    .s-s-burst,
    .s-s-bridgecoin,
    .s-s-bread,
    .s-s-blockv,
    .s-s-blocknet,
    .s-s-bitcoindark,
    .s-s-bitbay,
    .s-s-bibox-token,
    .s-s-bancor,
    .s-s-attention-token-of-media,
    .s-s-asch,
    .s-s-aragon,
    .s-s-appcoins,
    .s-s-amber,
    .s-s-airswap,
    .s-s-agoras-tokens,
    .s-s-adx-net,
    .s-s-adtoken,
    .s-s-achain,
    .s-s-wings {
        background-image: url('./img/all_views_market-cap-by-circulating-supply_1.png');
        -webkit-background-size: 176px 174px;
        -moz-background-size: 176px 174px;
        background-size: 176px 174px;
    }
}
        