html {
  overflow-y: scroll;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
main.container {
  padding-top:72px;
  padding-bottom:16px;
}

.icon-wrapper {
  width:32px;
  height: 32px;
  display: inline-block;
}
.icon-wrapper img {
  display: block;
}
.icon-wrapper .sk-spinner {
  position: absolute;
  top:0;
  left:0;
  width:32px;
  height: 32px;
  opacity: 0.4;
  overflow: hidden;
}

.positive {
  color:green;   
}

.negative {
  color:red;   
}


@media (max-width: 575px) {
  main.container {
    padding:0;
    padding-top:56px;
  }
}
  